APP_URL=http://192.168.100.103/projumi
APP_ENV=local
DB_HOST=localhost
BD_SEGURIDAD=seguridad
BD_PROJUMI=projumi
DB_USER=root
DB_PASS=
JWT_PRIVATE_KEY_FILE=config/keys/jwt_private.pem
JWT_PUBLIC_KEY_FILE=config/keys/jwt_public.pem
JWT_ALGORITHM=RS256
JWT_EXPIRATION_SECONDS=3600
RATE_LIMIT_STORAGE_FILE=storage/rate_limits.json
RATE_LIMIT_LOGIN_MAX=5
RATE_LIMIT_LOGIN_WINDOW=900
RATE_LIMIT_API_MAX=60
RATE_LIMIT_API_WINDOW=60
